#contact {
    height: 20%;
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 5px; 
}
#contact div {
    height: 100%;
    width: 40%;
}
#contact h2, h4 {
    margin: 2%;
}
#user {
    height: 25%;
    width: 5%;
    margin-top: 1%;
    margin-left: 25%;
}
#edit, #delete {
    height: 25%;
    width: 5%;
    margin-top: 12%;
}