#contact {
    height: 20%;
    width: 100%;
    display: flex;
    border-style: solid;
}
#contact div {
    height: 100%;
    width: 60%;
}
#contact h2, h4 {
    margin: 3%;
}

#user {
    height: 25%;
    width: 5%;
    margin-top: 1.5%;
    margin-left: 5%;
}
#update {
    height: 35%;
    width: 7%;
    margin-top: 14.5%;
    margin-left: 10%;
    cursor: default;
}
#delete {
    height: 30%;
    width: 6%;
    margin-top: 15%;
    margin-left: 2%;
}