#update-contact {
    height: 88%;
    width: 33.33%;
    margin-left: 33.33%;
    border: 1px solid red;
}
#update-contact h1{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 10%
}
#update-contact label h2 {
    margin-bottom: -2.5%;
    margin-left: 10%;
}
#update-contact input {
    height: 5%;
    width: 50%;
    margin-bottom: 6%;
    margin-left: 10%;
}
#update-contact button {
    height: 5%;
    width: 15%;
    margin-left: 10%;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}